/* Nav Bar Styling */
.site-header {
    width: 100%;
    background-color: #3f3f3f;
}

.navbar-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    align-items: center;
    font-family: serif, 'Times New Roman', sans-serif;
}

.navbar-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
    grid-template-rows: auto;
    padding: 0;
    grid-template-areas: 
        "a b c d e f";
}
.navbar-item:nth-child(1) { grid-area: a; }
.navbar-item:nth-child(2) { grid-area: e; }
.navbar-item:nth-child(3) { grid-area: f; }


/* Buttons */
.home-btn,
.drop-btn {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
    padding: 5px 10px; 
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}
.home-btn:hover,
.drop-btn:hover {
    color: #f3f3f3;
    background-color: #484848;
}



/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #3f3f3f;
    display: none;
    position: absolute;
    width: max-content;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 0;
    right: 0;
    font-size: 1rem;
}

.dropdown-content a {
    color: #f3f3f3;
    text-decoration: none;  
    padding: 12px 16px;
    display: block;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #444444;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    color: #f3f3f3;
    background-color: #484848;
}

.dropdown:hover .dropdown-content {
    display: block;
}









/* Footer Styles */
.site-footer {
    background-color: #f3f3f3f3;
    color: #3f3f3f;
    font-family: serif, 'Times New Roman', sans-serif;
    padding: 15px 0;
    width: 100%;
    margin: 0 0 auto 0;
}

.footer-content {
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 15px 0;
    font-size: 1rem;
}

.footer-content a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-content a:hover {
    transform: translateY(-1px);
}

.footer-content img {
    height: 28px;
    vertical-align: middle;
}






/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .dropdown-content {
        background-color: #3f3f3f;
        display: none;
        min-width: 280px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 6px;
        overflow: hidden;
        padding: 5px 0;
        left: -6px;
        font-size: 1rem;
    }
}