html {
    scroll-behavior: smooth;
}

.main-content {
    position: relative;
    z-index: 0;
    color: #3f3f3f;
    background-color: #f3f3f3;
    font-family: serif, 'Times New Roman', sans-serif;
}

/* Index.html formatting */
.hero-section {
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    /* change later */
    z-index: 1;
}
/* Hero Background Styles */
.hero-background {
    position: absolute;
    z-index: -1;
    width: 100%;
}
.hero-background img {
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(8px);
}
/* Hero Content Styles */
.hero-content {
    max-width: 650px;
    padding: 4rem;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
/* Preview Section Styles */
.preview {
    text-align: center;
    padding: 2rem;
}
.preview h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.preview p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-layout {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
        "a a b b b"
        "a a b b b"
        "c c c d d"
        "c c c d d"
        "c c c e e"
        "f f g g g"
        "f f g g g"
        "h h h i i"
        "h h h i i";
    gap: 1rem;
    padding: 4rem;
}
.grid-item:nth-child(1) { grid-area: a; }
.grid-item:nth-child(2) { grid-area: b; }
.grid-item:nth-child(3) { grid-area: c; }
.grid-item:nth-child(4) { grid-area: d; }
.grid-item:nth-child(5) { grid-area: e; }
.grid-item:nth-child(6) { grid-area: f; }
.grid-item:nth-child(7) { grid-area: g; }
.grid-item:nth-child(8) { grid-area: h; }
.grid-item:nth-child(9) { grid-area: i; }





/* Artwork Image Styles */  
.artwork-image {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

