<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; <span> 2025 Franc1sD | Built with ☕ and 💻 | All rights reserved </span></p>
        <p>
            <a href="https://github.com/Franc1sD" target="_blank">
                <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                    alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/franc1sd/" target="_blank">
                <img src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white"
                    alt="LinkedIn">
            </a>
        </p>
    </div>
</footer>