<nav class="main-nav">
    <a href="/" class="home-btn">Gallery Home</a>
    <div class="dropdown">
        <button class="drop-btn">Artworks</button>
        <div class="dropdown-content">
            <a href="/pages/artwork1.html">Claude Monet, "Impression, Sunrise"</a>
            <a href="/pages/artwork2.html">Claude Monet, "The Houses of Parliament, Sunset"</a>
            <a href="/pages/artwork3.html">Berthe Morisot, "Woman at Her Toilette"</a>
            <a href="/pages/artwork4.html">Alfred Sisley, "Snow at Louveciennes"</a>
            <a href="/pages/artwork5.html">Camille Pissarro, "Boulevard Montmartre at Night"</a>
        </div>
    </div>
</nav>