<div class="row">
    <div class="col-md-auto">
        <button class="home-btn" onclick="window.location.href='/'">Gallery Home</button>
    </div>
    <div class="col-md-auto">
        <div class="dropdown">
            <button class="drop-btn">Artworks</button>
            <div class="dropdown-content">
                <a href="/pages/artwork1.html">Impression, Sunrise</a>
                <a href="/pages/artwork2.html">The Houses of Parliament, Sunset</a>
                <a href="/pages/artwork3.html">Woman at Her Toilette</a>
                <a href="/pages/artwork4.html">Snow at Louveciennes</a>
                <a href="/pages/artwork5.html">Boulevard Montmartre at Night</a>
            </div>
        </div>
    </div>
</div>